[Unit]
Description=Port scan attack detector daemon
After=psad.service
[Service]
ExecStart=/usr/sbin/psadwatchd
Type=oneshot
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target